@mixin favorites() {
  padding-left: 1rem;
  height: auto;
  @include mobile {
    padding: 0;
  }
}

.album {
  @include favorites();
  padding-top: .75rem;
  width: 20%;

}

.film {
  @include favorites();
  width: 20%;
}

.book {
  @include favorites();
  width: 12.5%;
}
