#about, #burger-check, .burger {
  opacity: 1;
  transition: all ease .75s;
  color: $white;
}

.back {
  z-index: 1;
  position: fixed;
  font-size: 1rem;
  bottom: 2rem;
  left: 2rem;
}

@include mobile {
  .hero-body {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }

  .hero-body .column {
    padding: 0;
  }

  .back {
    display: none;
  }
}
