@keyframes color-change {
    0% { fill: $grey; }
    50% { fill: lightgrey; }
    100% { fill: $grey; }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes waving {
  0% {transform: rotate(-15deg);}
  100% {transform: rotate(15deg);}
}
