html {
  background-color: $dark !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

*:focus {
    outline: 0px solid transparent;
}

body {
  background-color: $dark;
  color: $white;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Theinhardt";
  overflow: hidden;
  transition: all ease .75s;
}

p {
  font-size: 48px;
  line-height: 1.1;
  transition: all ease .75s;
  font-weight: 400;
  color: $white;
  @include mobile {
    font-size: 1.5rem;
  }
}

a {
  color: $scarlet;
  transition: all ease .75s;
}

a:hover {
  transition: all .5s ease;
  color: $blue;
}

.container {
  background-color: $dark;
  transition: all ease .75s;
}

.columns {
  margin: 0;
}

@include mobile {
  .column {
    padding: 1rem 1.5rem;
  }
}
