.red {
    color: $scarlet;
    transition: all ease .75s;
}

.paddingTlg {
    padding-top: 100px;
    @include mobile {
        padding-top: 2rem;
    }
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.no-click {
    pointer-events: none;
    cursor: none;
}
