//Typography
@font-face {
    font-family: 'Theinhardt';
    src: url('../fonts/theinhardtreg-webfont.ttf') format("truetype");
}

// Colors
$white: #FFF;
$grey: #4a4a4a;
$dark: #111;

// Gradient
$green: #23d5ab;
$mint: #c6ffdd;
$blue: #23a6d5;
$yellow: #fbd786;
$light-red: #f7797d;
$scarlet: #E74C3C;
$orange: #ee7752;

// Screen size variables
$screen-xs: 425px;  // Tiny phones
$screen-sm: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md: 768px;  // Small tablets (portrait view)
$screen-lg: 992px;  // Tablets and small desktops
$screen-xl: 1200px; // Large tablets and desktops

// Mixins
@mixin mobile { @media (max-width: #{$screen-md}) {@content;} } // Mobile devices
@mixin desktop { @media (min-width: #{$screen-lg}) {@content;} } // Large devices
